.quicksand { font-family: 'Quicksand', sans-serif }

.products {
  .slider li img{
    height: 400px;
  }
}

ul.slider[data-slider-id='services'] {
  height: 150px;
}


.slide .background {
  -webkit-transition: 1s;
  transition: 1s;
}
.slide .background.hidden {
  opacity: 0;
  visibility: hidden;
}
.slide .background.shown {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width:1023px) {
  .tabs {
    margin: 0 auto;
  }

  h2.quicksand {
    font-size: 25px;
  }
}

.background.lazy {
  background-image: none!important;
}

.scenic:not(.video) .background,
.scenic.active:not(.video) .background.hidden{
  -webkit-animation-play-state: paused!important; /* Chrome, Safari, Opera */
  animation-play-state: paused!important;
}

.scenic.active:not(.video) .background,
.scenic.active:not(.video) .background.hidden.shown{
  -webkit-animation-play-state: running!important; /* Chrome, Safari, Opera */
  animation-play-state: running!important;
}

.social li {
  display: inline-block;
  margin-left: 10px;
}

.brandingColor { background-color:#0b4f90!important; color:#fff!important;}
