.products {
  .slider li img{
    height: 400px;
  }
}

ul.slider[data-slider-id='services'] {
  height: 150px;
}


.slide .background {
  -webkit-transition: 1s;
  transition: 1s;
}
.slide .background.hidden {
  opacity: 0;
  visibility: hidden;
}
.slide .background.shown {
  opacity: 1;
  visibility: visible;
}
