extends layouts/slides

block content

  section.slide.fade.scenic(name="about")
    .content
      .container
        .wrap
          include includes/about_us
    .background.lazy(style='background-image:url(images/about_us.jpg)')

  section.slide.fade.scenic(name="services")
    .content
      .container
        .wrap
          include includes/services
    .background.lazy.shown(style='background-image:url(images/services/1.jpg)')
    .background.lazy.hidden(style='background-image:url(images/services/2.jpg)')
    .background.lazy.hidden(style='background-image:url(images/services/3.jpg)')

  section.slide.fade.scenic.slideshow(name="products")
    .content
      .container
        .wrap
          include includes/products

    .background.lazy.hidden.shown(style="background-image:url(images/products/1.jpg)")
    each n in [2,3,4,5,6,7,8,9,10]
      .background.lazy.hidden(style="background-image:url(images/products/" + n + ".jpg)")

  section.slide.fade.scenic.slideshow(name="partners")
    .content
      .container
        .wrap
          include includes/partners

    .background.lazy.hidden.shown(style="background-image:url(images/adventure.jpg)")

  section.slide.fade.scenic(name="contacts")
    .content
      .container
        .wrap
          include includes/contacts
    .background(style='background-image:url(images/contacts.jpg)')
