.grid.slow
  .fix-9-12.toCenter
    h2.ae-1.margin-bottom-6.quicksand Complete garment manufacturing solutions <br>in Vietnam
    h3.normal.ae-1.slow(style="margin-bottom: 40px") We are a design-to-delivery garment supplier <br> working with fashion retailers across the world.
    h3.normal.ae-2.slow We can get production done in our associated factories in:

ul.grid
  li.col-6-12.ae-2.fromCenter
    h3.textRed Vietnam
  li.col-6-12.ae-3.fadeIn
    h3.textPink Cambodia
ul.grid
  li.col-6-12.ae-4.fromAbove
    h3.textBlue Myanmar
  li.col-6-12.ae-5.fromBlur
    h3.textGreen Bangladesh

//p
//  | We are a design-to-delivery garment supplier working with fashion retailers across the
//  | world. Based in our Ho Chi Minh city office in Vietnam, our passionate, talented and
//  | experienced team of fashion designers, product managers and quality control experts
//  | are responsible for delivering consistently high standards.
//p
//  | For many years we have developed our business supply chain in Vietnam and we can
//  | get production done in our associated factories in Vietnam, Myanmar, Cambodia and
//  | Bangladesh which are suitable for any specific products and time frame requests.
//p
//  | At The Maximum Sourcing we have the resources and partnerships to meet the needs
//  | of our clients, whether it be a multi billion-dollar department store or the startup e-
//  | commerce brand. Our history as a reputable garment manufacturer has allowed us to
//  | give our clients a wide range of benefits.
