.fix-8-12
  h1.small.ae-1.quicksand.margin-bottom-6 Ready to Discuss?
  //.ae-2
    a.button.stroke.round.uppercase.quicksand.popupTrigger.ae-5.fromCenter(data-popup-id='02', style='font-weight:700;') Contact Us

  ul.grid
    li.col-12-12.col-12-12.ae-2
      h3.little.uppercase.cropBottom MAXIMUM SOURCING CO., LTD
      p.raleway
        a(href="") Level 46 Bitexco Financial Tower, 2 Hai Trieu Street, District 1, Ho Chi Minh city, Vietnam

    li.col-12-12.col-12-12.ae-3
      h3.little.uppercase.cropBottom Call us:
      p.raleway
        a(href="tel:+84835194593") +84 8 351 94593
      p.raleway
        a(href="tel:+84904213353") +84 904 213353

    li.col-12-12.ae-4
      h3.little.uppercase.cropBottom Email us:
      p.raleway
        a(href="mailto:info@maximum-sourcing.com") info@maximum-sourcing.com

