.products.fix-12-12
  h1.small.ae-1.quicksand.margin-bottom-6 Our Partners

  .grid.margin-bottom-4
    .col-4-12.ae-2
      img(src='images/partners/sela-logj.png', width=150)
    .col-4-12.ae-2
      img(src='images/partners/stockmann.png', width=250)
    .col-4-12.ae-2
      img(src='images/partners/melon.png', width=150)
  .grid.margin-bottom-4
    .col-4-12.ae-3
      img(src='images/partners/gloria-jeans-gee-jay.png', height=150)
    .col-4-12.ae-3
      img(src='images/partners/incity.png', height=150)
    .col-4-12.ae-3
      img(src='images/partners/profmax.png', height=150)
  .grid.margin-bottom-4
    .col-4-12.ae-4
      img(src='images/partners/slam69white.png', width=150)
    .col-4-12.ae-4
      img(src='images/partners/4f.png', width=150)
    .col-4-12.ae-4
      img(src='images/partners/ZOLLA_tr.png', width=150)
  .grid.margin-bottom-4
    .col-4-12.ae-5
      img(src='images/partners/AO76_tr.png', width=100)
    .col-4-12.ae-5
      img(src='images/partners/BAON_w.png', width=150)
    .col-4-12.ae-5
      img(src='images/partners/GRIOL_w.png', width=150)
  .grid.margin-bottom-4
    .col-4-12.ae-6
      img(src='images/partners/modis_white.png', width=150)
    .col-4-12.ae-6
      img(src='images/partners/Shopping-live_tr.png', width=150)
    .col-4-12.ae-6
      img(src='images/partners/Stenser-logo_tr.png', width=150)
  .grid.margin-bottom-4
    .col-4-12.ae-7
      img(src='images/partners/12storeez.png', width=150)

