.products.fix-12-12
  h1.small.ae-1.quicksand.margin-bottom-6 What We Produce
  .grid.margin-bottom-4
    .col-4-12.ae-2
      h3.uppercase Shirts
    .col-4-12.ae-3
      h3.uppercase T-Shirts and Polo Shirts
    .col-4-12.ae-4
      h3.uppercase Dresses, Blouses
  .grid.margin-bottom-4
    .col-4-12.ae-5
      h3.uppercase Sportswear
    .col-4-12.ae-6
      h3.uppercase Down and Padded Jackets, Coats
    .col-4-12.ae-7
      h3.uppercase Pants and Trousers
  .grid.margin-bottom-4
    .col-4-12.ae-8
      h3.uppercase Beachwear and Swimwear
    .col-4-12.ae-9
      h3.uppercase Children’s wear
    .col-4-12.ae-10
      h3.uppercase Underwear
