.fix-9-12
  h1.small.ae-1.quicksand.margin-bottom-6 Our Services
  ul.grid.later
    li.col-5-12.ae-2
      // controller
      ul.tabs.controller.uppercase.raleway.fromCenter(data-slider-id='services')
        li.selected Customer Service
        li Product Design
        li Manufacturing
    li.col-7-12.equalElement.ae-3(style="padding: 15px 30px")
      // slider
      ul.slider.clickable(data-slider-id='services')
        li.wide.selected
          p.small
            | We have hands-on, dedicated teams in our Ho Chi Minh city (Vietnam) head office,
            | Yangon (Myanmar) and Phnom Penh sourcing offices to help responding to all our
            | customers’ needs, ensuring seamless and coordinated development, production and shipment.
        li.wide
          p.small
            | Our dynamic, talented designers produce on-trend graphic prints, shapes, fabric
            | developments and unique finishes for our wide range of European customers.
        li.wide
          p.small
            | Our innovative teams work within our ethical framework to produce high quality
            | garments that reward our workers and care for the environment.

